    <div class="container">
    
        <div class="card border-0 mt-5">    
            <div class="text-greeting">
            <p>Things we teach</p>
            </div>
            <div class="text-value">
                <p>Events</p>
            </div>
            <div class="text-ourwork" style="margin-bottom:-50px">Our workshops and courses are for beginners or those who want to improve their existing developer skills. In-addition, our cyber security courses provide a deep understanding of techniques hackers use to break apps.
            </div>
        </div>
        
    </div>
    

    <section class="wrapper">
  <div class="container">
  
  <div class="row">
 <div class="col-sm-4">

 <div class="card card_courses text-white card-has-bg click-col mt-2" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
         <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Cyber Security</small>
            <h5 class="card-title mt-0 "><a class="text-white" href="https://www.meetup.com/barcelona-coding-school-building-and-hacking-apps/events/279423202/">Penetration Testing: An Introduction</a></h5>
           <small><i class="far fa-clock"></i> August 30, 2021</small>
          </div>
          <div class="card-footer">
           <div class="media">
  <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
  <div class="media-body">
    <h6 class="my-0 text-white d-block">Haseeb</h6>
     <small>Security Architect</small>
  </div>
</div>
          </div>
        </div>
      </div></div>
     <div class="col-sm-4">
        <div class="card card_courses text-white card-has-bg click-col mt-2" style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                <small class="card-meta mb-2">Web Development</small>
                <h5 class="card-title mt-0 "><a class="text-white" href="https://www.meetup.com/barcelona-coding-school-building-and-hacking-apps/events/279487947/">Code Your Landing Page</a></h5>
                <small><i class="far fa-clock"></i> September 1, 2021</small>
                </div>
                <div class="card-footer">
                    <div class="media">
                    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/female-512.png" alt="Generic placeholder image" style="max-width:50px">
                        <div class="media-body">
                        <h6 class="my-0 text-white d-block">Erika</h6>
                        <small>Front End Developer</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</section>



