<div class="container">
        <div class="text-greeting mt-5">
            <p>Portfolio</p>
        </div>
        <div class="text-value">
              <p>We bring together our application development and deep tech skills with a thorough understanding of our clients’ business needs to deliver projects with results and value.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card card-responsive_grid">
                <img src="https://res.cloudinary.com/dspkvxtxa/image/upload/v1709154619/ceziam.png"  class="card-img-top" alt="...">
                <p class="text-sector_black_ceziam">Cybersecurity</p>
                <p class="bottomleft_black_ceziam">Ceziam</p>
                </div>
            </div>
            <div class="col">
                <div class="card card-responsive_grid">
                <img src="/assets/ikea1.jpg" class="card-img-top" alt="...">
                <p class="text-sector">Furniture</p>
                <p class="bottomleft">Ikea Sweden</p>   
                </div>
            </div>
        </div>  
    </div>
</div>