<div class="container">
  
    <div class="card border-0 mt-5">
      <div class="text-greeting">
      <p>Portfolio</p>
      </div>
      <div class="text-value">
        <p>Our work</p>
      </div>
      <div class="text-ourwork">
      <p>We bring together our application development and deep tech skills with a thorough understanding of our clients’ business needs to deliver projects with results and value.</p>
      </div>
    </div> 
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="ceziam_small.jpg"  class="card-img-top" alt="...">
            <p class="text-sector_black_ceziam">Cybersecurity</p>
            <p class="bottomleft_black_ceziam">Ceziam</p>
            </div>
        </div>
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="ikea_pic2.jpg" class="card-img-top" alt="...">
            <p class="text-sector">Furniture</p>
            <p class="bottomleft">Ikea Sweden</p>   
            </div>
        </div>
    </div>  
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">  
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="skinkel.jpg"  class="card-img-top" alt="...">
            <p class="text-sector_black">Wellness</p>
            <p class="bottomleft_black">Skinkel.es</p>
            </div>
        </div>
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="montse.jpg" class="card-img-top" alt="...">
            <p class="text-sector">Health</p>
            <p class="bottomleft">Montse Timoneda</p>   
            </div>
        </div>
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="eatamina.jpg" class="card-img-top" alt="...">
            <p class="text-sector">Nutrition</p>
            <p class="bottomleft">eatamina</p>   
            </div>
        </div>
        <div class="col">
            <div class="card card-responsive_grid">
            <img src="ing_logo.jpg"  class="card-img-top" alt="...">
            <p class="text-sector">Finance</p>
            <p class="bottomleft">ING Bank Europe</p>
            </div>
        </div>
    </div>
</div>