<div class="container">
    
        <div class="card border-0 mt-5">    
            <div class="text-greeting">
            <p>What we can do</p>
            </div>
            <div class="text-value">
                <p>Services</p>
            </div>
            <div class="text-ourwork">
            <p>From our core expertise in web and mobile application devlopment, cybersecurity and online brand development, we have the skills and partner networks to help you obtain your business goals.</p>
            </div>
        </div>
        
        
        <div class="row align-items-center">
            <div class="col-6">
                <div class="card card-responsive_grid">
                <img src="https://res.cloudinary.com/dspkvxtxa/image/upload/v1626871658/zilpb3qxnzhxtjcmegdt.jpg"  class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6">
                <div class="card card-responsive_grid border-0">
                <p class="text-section_break"><i class="fas fa-minus fa-5x"></i>
                <span class="border-0"></span>
                <p class="text-section-title">Digital Product Development
                </p>
                <p class="text-section-desc">We build digital products for brands and startups. By partnering with companies of all sizes, our App Developers deliver products that impacts lives and facilitate change. Some of these may receive VC funding and win awards.
                </p>
                </div>
            </div>
        </div>  
        <div class="row align-items-center">
            <div class="col-6">
                <div class="card card-responsive_grid border-0">
                <p class="text-section_break"><i class="fas fa-minus fa-5x"></i>
                <span class="border-0"></span>
                <p class="text-section-title">Web Design
                </p>
                <p class="text-section-desc">Ranging from static websites to fully functioning web applications, we build modern responsive websites that give your customers a positive online experience on any device. We ensure yur website is uptodate with modern standards and lightweight as possible.
                </p>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-responsive_grid">
                <img src="design.jpg"  class="card-img-top" alt="...">
                </div>
            </div>
        </div> 

        <div class="row align-items-center">
            <div class="col-6">
                <div class="card card-responsive_grid">
                <img src="seo3.jpg"  class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6">
                <div class="card card-responsive_grid border-0">
                <p class="text-section_break"><i class="fas fa-minus fa-5x"></i>
                <span class="border-0"></span>
                <p class="text-section-title">SEO & Digital Marketing
                </p>
                <p class="text-section-desc">We utilise industry best practices to ensure your website or digital product has the best SEO potential. In addition, we can work with you to create well crafted content to provide a positive impression providing your brand the correct tone and message.
                </p>
                </div>
            </div>
        </div> 
        <div class="row align-items-center row-cols-1 row-cols-md-2 g-4">
            <div class="col-6">
                <div class="card card-responsive_grid border-0">
                <p class="text-section_break"><i class="fas fa-minus fa-5x"></i>
                <span class="border-0"></span>
                <p class="text-section-title">Cyber Security
                </p>
                <p class="text-section-desc">We provide a broad range of security services for your web or mobile application. This ranges from a security audit to detailed penetration testing of your digital product. In-addition, we can provide integration expertise of key services such as payment systems enabling secure electronic commerce.
                </p>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-responsive_grid">
                <img src="cyber.jpg"  class="card-img-top" alt="...">
                </div>
            </div>
        </div> 
        <div class="row align-items-center row-cols-1 row-cols-md-2 g-4">
            <div class="col-6">
                <div class="card card-responsive_grid">
                <img src="more.jpg"  class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6">
                <div class="card card-responsive_grid border-0">
                <p class="text-section_break"><i class="fas fa-minus fa-5x"></i>
                <span class="border-0"></span>
                <p class="text-section-title">Anything else on your mind?
                </p>
                <p class="text-section-desc">If you need anything else specific that is not described please feel free to get in touch. We'd love to hear about your project ideas, if we don't have a solution then we can reach out to our network and try to put you in contact with soeone who may be able to help.
                </p>
                </div>
            </div>
        </div> 
    </div>