

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ME88LD4GDV"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-ME88LD4GDV');
        </script>
        <!-- Google result text-->
    <title>El Born Lab - Events: Things We Teach</title>
    <!-- Google result description-->
    <meta name="description" content="Our workshops and courses are for beginners or those who want to improve their existing developer skills. In-addition, our cyber security courses provide a deep understanding of techniques hackers use to break apps.">

<!--  Essential META Tags -->
    <meta property="og:title" content="El Born Lab">
    <meta property="og:description" content="Our workshops and courses are for beginners or those who want to improve their existing developer skills.">
    <meta property="og:image" content="https://elbornlab.com/prototype.jpg">
    <meta property="og:url" content="https://elbornlab.com/events">
    <meta name="twitter:card" content="summary_large_image">
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="El Born Lab - Events">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
  <body>
    <%= render 'shared/navbar-simple' %>
    <%= render 'shared/events_section' %>  


  </body>
</html>


