

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ME88LD4GDV"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-ME88LD4GDV');
        </script>
        <!-- Google result text-->
    <title>El Born Lab - Digital Services We Provide</title>
    <!-- Google result description-->
    <meta name="description" content="Web and mobile application devlopment, cybersecurity and online brand development.">

<!--  Essential META Tags -->
    <meta property="og:title" content="El Born Lab">
    <meta property="og:description" content="We build digital products for brands and startups. Our core services include Web and mobile application development, cybersecurity and online brand development.">
    <meta property="og:image" content="https://elbornlab.com/products.jpg">
    <meta property="og:url" content="https://elbornlab.com/services">
    <meta name="twitter:card" content="summary_large_image">
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="El Born Lab - Services">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
  <body>
    <%= render 'shared/navbar-simple' %>
    <%= render 'shared/services_section' %>  
    
<%= render 'shared/contact_section.html.erb' %>
  </body>
</html>
